@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
   font-family: "Almarai", sans-serif !important;
   background: #f8f8f8;
}

/* *{
  outline: 1px solid red;
} */

/* scroll bar */

::-webkit-scrollbar {
   width: 7px;
   height: 7px;
   overflow: hidden;
}

/* Track */
::-webkit-scrollbar-track {
   background: #eee;
   border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #1e4d45;
   border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #1e4d45;
}

/* hide scroll bar  */
.hide__scroll::-webkit-scrollbar {
   width: 0px;
   height: 0px;
   display: none !important;
}

:root {
   --min-font-size: 1rem;
   /* Minimum font size */
   --max-font-size: 2rem;
   /* Maximum font size */
   --min-line-height: 1.2;
   /* Minimum line height */
   --max-line-height: 1.5;
   /* Maximum line height */
}

h1 {
   font-size: clamp(20px, calc(2vw + 1rem), var(--max-font-size));
   /* Adjust min and max values as needed */
   line-height: clamp(var(--min-line-height), calc(2vw / 10 + 1.2), var(--max-line-height));
   /* Adjust min and max values as needed */
}

h2 {
   font-size: clamp(18px, calc(1.5vw + 1rem), var(--max-font-size));
   /* Adjust min and max values as needed */
   line-height: clamp(var(--min-line-height), calc(1.5vw / 10 + 1.2), var(--max-line-height));
   /* Adjust min and max values as needed */
}

h3 {
   font-size: clamp(16.5px, calc(1.5vw + 0.75rem), var(--max-font-size));
   /* Adjust min and max values as needed */
   line-height: clamp(var(--min-line-height), calc(1.5vw / 10 + 1.2), var(--max-line-height));
   /* Adjust min and max values as needed */
}

h4 {
   font-size: clamp(15px, calc(1.5vw + 0.5rem), var(--max-font-size));
   /* Adjust min and max values as needed */
   line-height: clamp(var(--min-line-height), calc(1.5vw / 10 + 1.2), var(--max-line-height));
   /* Adjust min and max values as needed */
}

h5 {
   font-size: clamp(13.5px, calc(1.5vw + 0.25rem), var(--max-font-size));
   /* Adjust min and max values as needed */
   line-height: clamp(var(--min-line-height), calc(1.5vw / 10 + 1.2), var(--max-line-height));
   /* Adjust min and max values as needed */
}

h6 {
   font-size: clamp(12px, calc(1.5vw), var(--max-font-size));
   /* Adjust min and max values as needed */
   line-height: clamp(var(--min-line-height), calc(1.5vw / 10 + 1.2), var(--max-line-height));
   /* Adjust min and max values as needed */
}

section {
   margin-block: 0.5rem;
   overflow: hidden;
}




img {
   max-width: 100%;
   display: block;
}

input {
   @apply rounded-xl border-gray-200 p-3 border;
}

input::placeholder {
   @apply text-xs md:text-sm;
}

select option {
   @apply bg-prime cursor-pointer text-white px-0 mx-0 !important;
}

select {
   @apply rounded-xl py-1.5 outline-none cursor-pointer accent-prime max-md:text-[13px] !important;
}

/* full screen + 1024px */
.main__layout {
   display: grid;
   grid-template-columns: 238px 1fr 190px;
   gap: 24px;
}

/* tablet screen + 767px */

@media (max-width: 1023px) {
   .main__layout {
      grid-template-columns: 238px 1fr;
   }
}

/*  mobile screen -768px */
@media (max-width: 767px) {
   .main__layout {
      grid-template-columns: 1fr;
   }
}

.container {
   max-width: 1411px;
}

.grid {
   @apply content-start;
}

.cent {
   display: flex;
   justify-content: center;
   align-items: center;
}

.cent__col {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.cent__bet {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.btn__prime {
   @apply px-[20.8px] rounded-xl min-h-[45px] py-1   cent leading-[22.32px] max-md:text-sm duration-500;
}


.btn__prime:hover {
   animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
   50% {
      opacity: 0.9;
      transform: scale(0.97);
   }
}

.h__prime {
   @apply text-prime text-2xl font-bold leading-[35px] capitalize;
   font-size: clamp(1.2rem, 3.4vw, 1.625rem);
}

.region_active {
   @apply font-normal leading-5 border-sec;
}
.region {
   font-size: clamp(0.7rem, 3vw, 0.8rem);
}

.country__grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
   gap: 16px;
}

.capitals__grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));

   gap: 16px;
}
.alphabitic__grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(36px, 1fr));
   grid-template-rows: repeat(auto-fit, minmax(36px, 1fr));
   gap: 12px;
}

.city__label__grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
   justify-items: center;
   gap: 16px;
}
.share__modal__grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(72px, 1fr));
   justify-items: center;
   gap: 8px;
   row-gap: 32px;
}

.popular__articles__grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-template-rows: repeat(auto-fit, minmax(310px, 1fr));
   justify-items: center;
   gap: 16px;
}

.tracks__grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
   gap: 16px;
}

.playlist__grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
   gap: 16px;
}

@media (max-width: 400px) {
   .playlist__grid {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
   }
   .tracks__grid {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
   }
   .popular__articles__grid {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
   }
}


.fixed {
   -webkit-transform: translate3d(0, 0, 0);
   z-index: 9999 !important;
}
